/* Change font */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
*{font-family: 'Mukta';}

/* 3 card style setting */
div.css-1r6slb0.e1tzin5v2{
    background-color: #dad9d9;
    border: 1PX solid #6bacd7;
    padding: 1% 1% 1% 1%;
    border-radius: 7px;
    border-left: 0.5rem solid #518bb3 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;

}

div.css-wnm74r.e16fv1kl0{
    font-size: 19px;
}
div.css-yyeort.e16fv1kl2{
    font-size: 19px;
}
div.css-1p3vgi5.e16fv1kl3{
    font-size: 25px;  
}


/*FV styling*/
/*div.css-ocqkz7.e1tzin5v4{
    background-color: #dad9d9;
    border: 1PX solid #69737a;
    padding: 1% 1% 1% 1%;
    border-radius: 7px;
    border-left: 0.5rem solid #69737a !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
} 

/* chart styling */
div.css-1a32fsj.e19lei0e0{
    background-color: #dad9d9;
    border: 1PX solid #6bacd7;
    padding: 1% 0.5% 1% 1%;
    border-radius: 7px;
    border-left: 0.5rem solid #518bb3 !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}